<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calendar</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/calendar.css">
    <link rel='stylesheet' href='/stylesheets/calendar/scheduleViewModal.css'/>
    <link rel="stylesheet" href="/stylesheets/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/calendar/fullCalendar/main.css">
    <link rel="stylesheet" href="/stylesheets/calendar/fullCalendar/calendar.css">
    <script src="/jquery-3.6.1.min.js"></script>
    <script defer src="/javascripts/calendar/fullCalendar/calendar.js"></script>
    <script defer src="/javascripts/calendar/fullCalendar/main.js"></script>
    <script defer src="/javascripts/schedule/scheduleModal.js"></script>
    <script defer src="/javascripts/calendar/calendar.js"></script>
</head>
<body>
<!--=============== HEADER ===============-->
<%- include('layout/header.ejs'); %>
<%- include('./schedule/scheduleModal.ejs') %>
<%- include('./calendar/scheduleListModal.ejs') %>


<div id="calendar_section">
    <!--=============== CATEGORY ===============-->
    <div id="calendar_section1" class="calendar_section">
        <%- include('./category/categoryModal.ejs') %>
        <!-- (카테고리, 일정생성) 모달 띄우는 + 버튼 -->
        <div class="plus" onclick="plus_menu()">
            <i class="fa-sharp fa-solid fa-plus"></i>
            <p>만들기</p>
            <i class="fa-sharp fa-solid fa-caret-down"></i>
        </div>
        <!-- span tag안에 include된 component가 있어서 스팬에 모달창 컴포넌트가 span의 categoryModalOpen onClick함수를 실행해버림 -->
        <div id="plus_menu" style="display: none;">
            <span class="plus_menu" onclick="scheduleModalOpen()">
                <div class="plus_menu_schedule">
                    <i class="fa-regular fa-clock"></i>
                    <p>일정생성</p>
                </div>
            </span>
            <span class="plus_menu" onclick="categoryModalOpen()">
                <div class="plus_menu_category">
                    <i class="fa-regular fa-bookmark"></i>
                    <p>카테고리</p>
                </div>
            </span>
        </div>
    <!--=============== CATEGORY NAVIGATION BAR ===============-->
    <%- include('./category/categoryTap.ejs') %>
    </div>
    <!--=============== CALENDAL ===============-->
    <div id="calendar_section2" class="calendar_section">
        <div style="width: 100%;" id='calendar'></div>
    </div>
</div>
</body>
</html>
