<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <!--================= CSS =================-->
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <!--=============== FONTAWESOME ===============-->
    <link rel="stylesheet" href="/stylesheets/fontawesome-free-6.2.0-web/css/all.min.css">
    <!--=============== JQUERY ===============-->
    <script src="/jquery-3.6.1.min.js"></script>
    <script defer src="/javascripts/dashboard/kakaoMap.js"></script>
    <script defer src="/javascripts/dashboard/scheduleAddressList.js"></script>
    <script defer src="/javascripts/dashboard/memo.js"></script>
</head>
<body>
<!--=============== HEADER ===============-->
<%- include('layout/header.ejs'); %>
<!-- <h1>홈</h1> -->
<div class="dashboardPage">
    <div class="topDashboard">
        <!-- 오늘 일정 완료율 -->
        <div class="todayScheduleChart">
            <%- include('dashboard/todayScheduleChart.ejs'); %>
        </div>
        <!-- 오늘 일정 리스트(진행/완료 상태 표시bar) -->
        <div class="todayScheduleList">
            <%- include('dashboard/todayScheduleList.ejs'); %>
        </div>
    </div>
    <!-- 추가 기능: 오늘 가야 할 곳 표시 영역 -->
    <div class="bottomDashboard">
        <div class="myMemo">
            <%- include('dashboard/myMemo.ejs'); %>
        </div>
        <!-- 가야 할 곳 표시(리스트) -->
        <div class="scheduleAddressList">
            <%- include('dashboard/scheduleAddressList.ejs'); %>
        </div>
        <!-- 가야 할 곳 표시(지도) -->
        <div class="scheduleAddress">
            <%- include('dashboard/scheduleAddress.ejs'); %>
        </div>
        
    </div>
</div>
</body>
</html>
