<link rel='stylesheet' href="/stylesheets/calendar/category/categoryArea.css"/>
<div class="option_category">
    <span class="option_category_me">나의 카테고리</span>
</div>
<div id="myCategoryList" class="myCategoryList">
    <% myCategory.map((data)=>{ %>
        <div class="categoryList">
            <div class="myCategoryList_before"></div>
            <div class="categoryList_div">
                <p onclick="shareCategorySearch('<%= data._id %>', '<%= data.memberId._id %>')"><%= data.name %></p>
                <div class="categoryIcon">
                    <i onclick="categoryEditModalOpen('<%=data._id%>')" class="fa-regular fa-pen-to-square"></i>
                    <i class="fa-regular fa-trash-can" onclick="categoryDelete('<%=data._id%>', '<%=data.name%>')"></i>
                </div>
            </div>
        </div>
    <% }) %>
</div>