<link rel='stylesheet' href="/stylesheets/calendar/category/categoryTap.css"/>
<link rel='stylesheet' href='/stylesheets/calendar/category/shareScheduleTree.css'/>
<script src="/javascripts/calendar/category/category.js"></script>
<script src="/javascripts/calendar/category/categoryTap.js"></script>

<div class="tapContainer">
    <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1" onclick="tabClick(this)">전체</li>
        <li class="tab-link" data-tab="tab-2" onclick="tabClick(this)">나의 일정</li>
        <li class="tab-link" data-tab="tab-3" onclick="tabClick(this)">공유 일정</li>
    </ul>

    <div id="tab-1" class="tab-content current">
        <%- include('./categoryArea.ejs') %>
        <%- include('./shareScheduleTree.ejs') %>
    </div>
    <div id="tab-2" class="tab-content">
        <%- include('./categoryArea.ejs') %>
        <%- include('./categoryMyschedule.ejs') %>
    </div>
    <div id="tab-3" class="tab-content">
        <%- include('./shareScheduleTree2.ejs') %>
    </div>
</div>

