<!--
    담당자 : 박신욱, 이승현
    주요 기능 : 카테고리영역의 (전체 탭) 3단트리 영역
 -->
<div class="option_share">
    <span class="option_share_me">나의 공유함</span>
</div>
<ul class="tree">
    <li>
        <input type="checkbox" id="root">
        <label for="root" class="fs_label">
            <p class="label_text">공유함</p>
        </label>
        <ul>
            <% shareCategory.map((data, idx)=> { %>
                <li>
                    <input type="checkbox" id='node<%= idx %>'>
                    <label for='node<%= idx %>' style="padding-left: 25px;" class="fs_label">
                        <p class="label_text"><%= data.memberId.name %></p>
                    </label>
                    <ul>
                        <% data.categoryId.map((data2, idx2) => { %>
                            <li>
                                <input type="checkbox" id='node<%= idx.toString() + idx2.toString() %>'
                                       onclick="shareCategorySearch('<%= data2._id %>', '<%= data2.memberId._id %>')">
                                <label for="node<%= idx.toString() + idx2.toString() %>" class="lastTree"
                                       style="padding-left: 45px;">
                                    <div class="lastTree_before" style="background-color: <%= data2.color %>"></div>
                                    <p class="label_text"><%= data2.name %></p>
                                </label>
                            </li>
                        <% }) %>
                    </ul>
                </li>
            <% }) %>
        </ul>
    </li>
</ul>
</li>
</ul>